table {
  position: relative;
  padding: .2em .5em;
  margin: .2em 0 0;
  border: 0px;
}

th {
  background: #ccc;
}

.left {
  /*min-width: 200px;
  width: 50%;
  max-width: 200px;*/
  border-radius: .3em 0 0 0;
  text-align: center;
}

.center {
  /*min-width: 100px;
  width: 25%;
  max-width: 100px;*/
  border-radius: 0 .3em 0 0;
  text-align: center;
}
.right {
  /*min-width: 100px;
  width: 25%;
  max-width: 100px;*/
  border-radius: 0 .3em 0 0;
  text-align: center;
}

/*td {
  text-align: center;
}*/

tr:nth-child(odd) {
  background-color: #eee;
}
